
 /* prodcut-img */
img {
	width: 100%;
	max-width: 400px;
}
  
.rating span {
	color: rgb(255, 217, 3);
}

img .larg{
 max-width: 100%;  /* no x grow  */
}

/* App.css */

.dark {
	background-color: #121212;  
	color: #ffffff;            /* Light text */
  }
  
  .light {
	background-color: #ffffff;    /* Light background */
	color: #000000;               /* Dark text */
}